body {
	background:#FFFFFA;
    padding: 20px;
    font-family: Arial;
    margin: 0;
    padding: 0;
 }

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu_bar {
	display:none;
}

header {
	width: 100%;
}

header nav {
	background:#023859;
	z-index:1000;
	/*max-width: 1000px;*/
	width:100%;
	/*margin:20px auto;*/
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a i {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a i {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar i {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}

/*Footer*/
#footer1{
	width: 50%;
	float: left;
	height: 50%;
	
}

#footer2{
	width: 50%;
	float: right;
	height: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: right;
}

#footer2 a img{
	width: 5%;
	margin-right: 20px;
} 

footer{
	background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width:100%;
}

.tablainicio{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sorbete{
	
	display:block;
margin:auto;
	
}